body{
    background: rgb(0, 26, 112);
    overflow-x: hidden;
}
.description{
    color: rgb(0, 26, 112);
    font-family: Arial, sans-serif;
    text-align: center;
    position: relative;
    transform : translate(0%,90%);
    font-size: 25px;
}
.titre{
    font-weight: 900;
}



.acceuil {
    background-image: url('../IMAGE/pexels-photo-2738173.jpeg'); /* .. parce que on retourne sur un dossier */
    background-repeat: none ;
    background-size: cover;
    opacity: .7;
    height:100vh;
    width: 100%;

}

.footgauche{
    color: white;
    font-family: Arial, sans-serif;
    float: left;
    margin-top: 10px;
}

.footdroit{
    color: white;
    font-family: Arial, sans-serif;
    text-align: right;
    float: right;
}