body{
    z-index: 99;
    background: rgb(255, 255, 255);
    overflow-x: hidden;
}

.page-footer{
    background-color: rgb(0, 26, 112, 0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 125px;
    
   
}

.footgauche{
    color: white;
    font-family: Arial, sans-serif;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.footdroit{
    color: white;
    font-family: Arial, sans-serif;
    text-align: right;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

#wrap {
    width: 100%;
    height: 60px;
    position:fixed;
    z-index: 98;
    background-color: rgba(0, 26, 112, 0.5);
    
    top: 0;
    left: 0; 

}

.navbar {
    height: 60px;

    padding: 0;
    margin: 0;
    
}

.navbar li {
    height: auto;
    width: 150px;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 14px/3em Arial;
    padding: 0;
    margin: 0;
}

.navbar a {
    padding-top: 11px;
    border-left: 1px solid #ccc9c9;
    
    text-decoration: none;
    color: white;
    display: block;
}


.navbar li:hover,
a:hover {
    background-color: #001A70;
}

.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}
#map {
  position: relative;
  left:55%;

}
#connexion {
  position: relative;
  left: 55%;
}
#decouvrir {
  position: relative;
  left: 55%;
}

.titre{
    color: rgb(0, 26, 112);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    transform : translate(0%,90%);
    font-size: 30px;
    top: 40px;
}

.text{
    position: relative;
    top: 75px;
    text-align: center;
    font-family: Arial, sans-serif;
    transform : translate(0%,90%);
    font-size: 20px;
}

.lien{
    color: rgb(0, 26, 112);
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
    position: relative;
    top: 130px;
}
